Source.java
*.class
*.tmp
*.jar
*.DS_Store

## target folder at the top level of the project structue and paths and contents underneath it
target/
target/*

## target folder at any level of the project structue
**/target
/target 